<launch>
  <include file="$(find pr2_machine)/$(env ROBOT).machine" />

  <node name="map_server" pkg="map_server" type="map_server" args="$(find gazebo_worlds)/Media/materials/textures/map_blank.png 0.1" respawn="true" />
  <include file="$(find pr2_navigation_global)/amcl_node.xml" />

  <node pkg="dogsim" type="robot_driver" name="robot_driver" output="screen"/>
  
</launch>
