<launch>
  <include file="$(find pr2_machine)/$(env ROBOT).machine" />
  <param name="leash_length" value="1.25"/>

  <node pkg="dogsim" type="get_path_server" name="get_path_server" output="screen"/>

 <param name="dog" textfile="$(find dogsim)/models/dog.model" />
  <node name="spawn_dog" pkg="gazebo" type="spawn_model" args="-param dog -gazebo -model dog -x 1.5 -z 0.5" respawn="false" output="screen" />

  <param name="leash" textfile="$(find dogsim)/models/leash.model" />
 <node name="spawn_leash" pkg="gazebo" type="spawn_model" args="-param leash -gazebo -model leash -x 0 -y 0 -z 0" respawn="false" output="screen" />

  <node name="map_server" pkg="map_server" type="map_server" args="$(find gazebo_worlds)/Media/materials/textures/map_blank.png 0.1" respawn="true" />
  <include file="$(find pr2_navigation_global)/amcl_node.xml" />

  <node pkg="dogsim" type="robot_driver" name="robot_driver" output="screen"/>
  <node pkg="dogsim" type="dog_position_detector" name="dog_position_detector" output="screen"/>
  <node pkg="dogsim" type="adjust_dog_position_action" name="adjust_dog_position_action" output="screen"/>
  <node pkg="dogsim" type="move_robot_action" name="move_robot_action" output="screen"/>

  <node pkg="dogsim" type="move_dog_away_action" name="move_dog_away_action" output="screen"/>

  <!-- For arm navigation -->
  <include file="$(find pr2_3dnav)/right_arm_navigation.launch" />
</launch>
