<launch>
  <include file="$(find dogsim)/launch/heuristic.launch">
    <arg name="insitu" value="false"/>
  </include>
  <include file="$(find dogsim)/launch/good_dog.launch" />
  <include file="$(find dogsim)/launch/blockwalk.launch" />
  <include file="$(find dogsim)/launch/scoring.launch" />
</launch>
