<launch>
  <include file="$(find dogsim)/launch/leash.launch" /> 

  <param name="dog" textfile="$(find dogsim)/models/dog.model" />
  <node name="spawn_dog" pkg="gazebo" type="spawn_model" args="-param dog -gazebo -model dog" respawn="false" output="screen" />

  <node pkg="dogsim" type="dog_visualizer" name="dog_visualizer">
    <remap from="dog_position_in" to="/simulated_dog_position_detector/dog_position"/>
  </node>
</launch>
