<launch>
  <arg name="insitu" />
  <include file="$(find dogsim)/launch/base.launch">
    <arg name="insitu" value="$(arg insitu)"/>
  </include>
  
  <group unless="$(arg insitu)">
    <include file="$(find dogsim)/launch/dog.launch" />
  </group>
  <node pkg="dogsim" type="robot_driver" name="robot_driver" output="screen"/>
  <node pkg="dogsim" type="adjust_dog_position_action" name="adjust_dog_position_action" />
</launch>
