<launch>
  <include file="$(find dogsim)/launch/force_scoring.launch" />
  <node pkg="dogsim" type="path_scorer" name="path_scorer" output="screen"/>

  <node pkg="dogsim" type="dog_position_measurer" name="dog_position_measurer" output="screen" />

  <node pkg="dogsim" type="path_visibility_measurer" name="path_visibility_measurer" output="screen"/>
</launch>

