<launch>
  <node pkg="dogsim" type="total_force_measurer" name="total_force_measurer" output="screen"/>
  <node pkg="dogsim" type="path_scorer" name="path_scorer" output="screen"/>

  <node pkg="position_tracker" type="dog_position_measurer" name="dog_position_measurer" output="screen" />

  <node pkg="dogsim" type="path_visibility_measurer" name="path_visibility_measurer" output="screen"/>
</launch>

