<launch>
  <include file="$(find dogsim)/launch/base_no_sensors.launch">
        <arg name="insitu" value="false"/>
  </include>
  
  <node pkg="dogsim" type="robot_driver" name="robot_driver" output="screen">
    <param name="solo_mode" value="true"/>
  </node>
  
  <node pkg="dogsim" type="set_max_update_rate" name="set_max_update_rate" output="screen">
    <param name="max_update_rate" value="250"/>
  </node>
  
  <node pkg="dogsim" type="robot_path_scorer" name="robot_path_scorer" output="screen">
  </node>
</launch>
